# Q.No.1

In [2]:
N="*\n**\n***\n****\n*****"
print(N)

*
**
***
****
*****

In [29]:
N="    *\n   **\n  ***\n ****\n*****"
print(N)

    *
   **
  ***
 ****
*****

# Q.No.2

In [7]:
def suma(num1,num2,num3,num4,num5,num6,num7,num8,num9,num10):
    ans=(num1+num2+num3+num4+num5+num6+num7+num8+num9+num10)
    return ans
print(suma(1,2,3,4,5,6,7,8,9,10))

55

# Q.No.3

In [18]:
x=0
for x in range(10):
    print(x+1)

1
2
3
4
5
6
7
8
9
10

# Q.No.4

In [43]:
Num=int(input("Enter your number==> "))
x=0
for x in range(10):
    print(Num,"X",x+1,"=",Num*x+Num)

Enter your number==> 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

# Q.No.5

In [23]:
def Fur(N):
    ans=N*(N-1)*(N-2)*(N-3)*(N-4)
    return ans
n=1
for x in range(5):
    n=n*(x+1)
    
    
    print(n)
print(Fur(Num))

1
2
6
24
120
120

In [40]:
Num=5
Y=Num
while (Num>0):
    #print(Num)
    Y=Y*(Num-1)
    Num=Num-1

    print(Y)

20
60
120
120
0

# Q.No.6

In [49]:
def power(Num1,Num2):
    
    Y=1
    for x in range(Num2):
        ans=Y*Num1
        Y=ans
    return  ans
Num1=int(input("Enter your 1st Number==>  "))
Num2=int(input("Enter your 2nd Number==>  "))
print("The answer is=====> ",power(Num1,Num2))

Enter your 1st Number==>  5
Enter your 2nd Number==>  3
The answer is=====>  125

# Q.No.7

In [3]:
for x in range(4):
    print("**********")

**********
**********
**********
**********

In [34]:
num=[1,2,3,4,5]
for x_items in num:
    print("*" * x_items)

*
**
***
****
*****

In [32]:
numbers=[7, 2, 7, 2, 2]
for x_item in numbers:
    print("x" * x_item)

xxxxxxx
xx
xxxxxxx
xx
xx

In [46]:
num=[1,3,5,7]
for x_items in num:
    print(" ","*"* x_items)

  *
  ***
  *****
  *******

In [14]:
Num=[1,222,33333,4444444,555555555]
for item in Num:
    print(" ", item)

  1
  222
  33333
  4444444
  555555555

In [2]:
N="    *    \n   ***   \n  *****  \n ******* "
print(N)

    *
   ***
  *****
 *******